/* classes ids...*/

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.logo-container {
  height: 30px;
  padding: 20px 36px;

  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 82px;
  height: 25px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-photos {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card-container {
  width: 175px;
  font-size: 12px;
  padding-left: 30px;
  display: flex;
  /* flex-grow | flex-shrink | flex-basis */
  flex: 0 0 auto; /* ADD */
  flex-direction: column;
  position: relative;
}

.card-imgs {
  width: 100%;
  border-radius: 9px;
}

.star-img {
  height: 14px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-price {
  margin-top: a;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 40px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
